In [46]:
import pandas as pd

In [47]:
df = pd.read_csv("WHO-COVID-19-global-data.csv")

In [48]:
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
120753,2021-05-21,ZW,Zimbabwe,AFRO,23,38635,2,1585
120754,2021-05-22,ZW,Zimbabwe,AFRO,29,38664,1,1586
120755,2021-05-23,ZW,Zimbabwe,AFRO,15,38679,0,1586
120756,2021-05-24,ZW,Zimbabwe,AFRO,3,38682,0,1586
120757,2021-05-25,ZW,Zimbabwe,AFRO,14,38696,0,1586

In [49]:
df['Date_reported'] = pd.to_datetime(df['Date_reported'], format='%Y-%m-%d', errors='raise')
df.groupby(pd.Grouper(key='Date_reported', freq='D')).mean().head(20)

               New_cases  Cumulative_cases  New_deaths  Cumulative_deaths
Date_reported
2020-01-03      0.000000          0.000000    0.000000           0.000000
2020-01-04      0.004219          0.004219    0.000000           0.000000
2020-01-05      0.000000          0.004219    0.000000           0.000000
2020-01-06      0.012658          0.016878    0.000000           0.000000
2020-01-07      0.000000          0.016878    0.000000           0.000000
2020-01-08      0.000000          0.016878    0.000000           0.000000
2020-01-09      0.000000          0.016878    0.000000           0.000000
2020-01-10      0.000000          0.016878    0.000000           0.000000
2020-01-11      0.000000          0.016878    0.000000           0.000000
2020-01-12      0.172996          0.189873    0.004219           0.004219
2020-01-13      0.021097          0.210970    0.000000           0.004219
2020-01-14      0.004219          0.215190    0.000000           0.004219
2020-01-15      0.000000          0.215190    0.000000           0.004219
2020-01-16      0.000000          0.215190    0.000000           0.004219
2020-01-17      0.021097          0.236287    0.004219           0.008439
2020-01-18      0.000000          0.236287    0.000000           0.008439
2020-01-19      0.341772          0.578059    0.004219           0.012658
2020-01-20      0.345992          0.924051    0.004219           0.016878
2020-01-21      0.392405          1.316456    0.008439           0.025316
2020-01-22      0.607595          1.924051    0.046414           0.071730

In [50]:
dt = pd.DatetimeIndex(df['Date_reported'])
df.set_index(dt, inplace=True)

df['year'] = dt.year
df['month'] = dt.month
df['day'] = dt.day
df['dow'] = dt.dayofweek
df['woy'] = dt.weekofyear

In [51]:
df = df.drop(['Date_reported'], axis=1)

In [52]:
df

,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,year,month,day,dow,woy
Date_reported,,,,,,,,,,,,
2020-01-03,AF,Afghanistan,EMRO,0,0,0,0,2020,1,3,4,1
2020-01-04,AF,Afghanistan,EMRO,0,0,0,0,2020,1,4,5,1
2020-01-05,AF,Afghanistan,EMRO,0,0,0,0,2020,1,5,6,1
2020-01-06,AF,Afghanistan,EMRO,0,0,0,0,2020,1,6,0,2
2020-01-07,AF,Afghanistan,EMRO,0,0,0,0,2020,1,7,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-21,ZW,Zimbabwe,AFRO,23,38635,2,1585,2021,5,21,4,20
2021-05-22,ZW,Zimbabwe,AFRO,29,38664,1,1586,2021,5,22,5,20
2021-05-23,ZW,Zimbabwe,AFRO,15,38679,0,1586,2021,5,23,6,20
2021-05-24,ZW,Zimbabwe,AFRO,3,38682,0,1586,2021,5,24,0,21
2021-05-25,ZW,Zimbabwe,AFRO,14,38696,0,1586,2021,5,25,1,21

In [53]:
region = {'EURO' : 0, 'AMRO' : 1, 'AFRO' : 2, 'WPRO' : 3, 'EMRO' : 4, 'SEARO' : 5, 'Other' : 6}
df['WHO_region'] = df['WHO_region'].map(region)

In [54]:
df['WHO_region'].value_counts()

0    31558
1    28560
2    25450
3    17850
4    11220
5     5610
6      510
Name: WHO_region, dtype: int64

In [55]:
df

,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,year,month,day,dow,woy
Date_reported,,,,,,,,,,,,
2020-01-03,AF,Afghanistan,4,0,0,0,0,2020,1,3,4,1
2020-01-04,AF,Afghanistan,4,0,0,0,0,2020,1,4,5,1
2020-01-05,AF,Afghanistan,4,0,0,0,0,2020,1,5,6,1
2020-01-06,AF,Afghanistan,4,0,0,0,0,2020,1,6,0,2
2020-01-07,AF,Afghanistan,4,0,0,0,0,2020,1,7,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-21,ZW,Zimbabwe,2,23,38635,2,1585,2021,5,21,4,20
2021-05-22,ZW,Zimbabwe,2,29,38664,1,1586,2021,5,22,5,20
2021-05-23,ZW,Zimbabwe,2,15,38679,0,1586,2021,5,23,6,20
2021-05-24,ZW,Zimbabwe,2,3,38682,0,1586,2021,5,24,0,21
2021-05-25,ZW,Zimbabwe,2,14,38696,0,1586,2021,5,25,1,21

In [56]:
import pandas as pd
import numpy as np
import pandas as pd
import string
import warnings
import missingno
warnings.filterwarnings('ignore')
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from random import randint
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [57]:
train, val = train_test_split(df, test_size=0.2, random_state=5)

In [58]:
features = ['WHO_region', 'New_cases','Cumulative_cases', 'Cumulative_deaths', 'year', 'month','day', 'dow', 'woy']
target = 'New_deaths'

X = df[features]
y = df[target]

y_train = train[target]
X_train = train[features]

X_val = val[features]
y_val = val[target]

X_test = df[features]

In [59]:
model = RandomForestRegressor().fit(X, y)
data = pd.DataFrame(np.array([0,6510,56100,0,2020,1,3,4,1]).reshape(1, -1))
model.predict(data)

array([58.17])

In [60]:
rf_model = RandomForestRegressor(n_jobs=-1, random_state=5)
rf_model.fit(X_train, y_train)
y_rf_pred = rf_model.predict(X_val)

In [61]:
data = pd.DataFrame(np.array([0,56510,5215500,0,2020,1,3,4,1]).reshape(1, -1))
rf_model.predict(data)

array([801.57])

In [62]:
import joblib
joblib.dump(rf_model, 'project3_model_.pkl')

['project3_model_.pkl']